<div class="magic-items-feats-content">
	<div class="inventory-filters spellbook-filters magic-items-head">
	    <label><h3>Magic Items</h3></label>
	</div>
	{{#each items as |item i|}}
	{{#if hasFeats}}
	<li class="item flexrow inventory-header spellbook-header">
	    <div class="item-name flexrow">
	        <h3>{{name}}</h3>
	    </div>
	    <div class="spell-slots">
	        <input name="flags.magicitems.{{id}}.uses" type="text" value="{{uses}}" placeholder="0"/>
	        <span class="sep"> / </span>
	        <input type="text" value="{{charges}}" placeholder="0"/>
	    </div>
		<div class="spell-rechargeable">{{rechargeableLabel}}</div>
	    <div class="spell-consumption">{{localize "MAGICITEMS.SheetConsumption"}}</div>
	</li>
	<ol class="item-list">
	    {{#each feats as |feat|}}
	        <li class="item flexrow magic-item" data-magic-item-id="{{../id}}" data-item-id="{{feat.id}}" draggable="true">
	            <div class="item-name flexrow rollable">
	                <div class="magic-item-image" style="background-image: url({{feat.img}})"></div>
	                <h4 class="spell-name">{{feat.name}}</h4>
	            </div>
	            <div class="spell-consumption">{{feat.consumption}}</div>
	        </li>
	    {{/each}}
		{{#if hasTableAsFeats}}
		{{#each tableAsFeats as |table|}}
		<li class="item flexrow magic-item" data-magic-item-id="{{../id}}" data-item-id="{{table.id}}" draggable="true">
			<div class="item-name flexrow rollable">
				<div class="magic-item-image" style="background-image: url({{table.img}})"></div>
				<h4 class="spell-name">{{table.name}}</h4>
			</div>
			<div class="spell-consumption">{{table.consumption}}</div>
		</li>
		{{/each}}
		{{/if}}
	</ol>
	{{/if}}
	{{/each}}
</div>